<% @patient.finances.each do |finance| %>
	<div class="col-md-12">
		<div class="col-md-3">
			<label>Origem</label>
			<%= finance.pension.nome %>
		</div>
		<div class="col-md-2">
			<% if finance.montante.nil? %>
				&nbsp;
			<% else %>
				<%= finance.montante %> €
			<% end %>
		</div>
		<div class="col-md-5">
			<label>Obs</label>
			<%= finance.observacoes %>
		</div>
		<div class="col-md-2">
			<%= link_to "Eliminar", [finance.patient, finance], method: :delete, data: { confirm: 'Esta acção é irreversível. Pretende continuar?' }, class: 'btn btn-danger' %>
		</div>
	</div>
<% end %>