<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-brand">Situação económica</div>
	</div>
</nav>
<label>Ocupação</label>
<% if @patient.ocupacao.empty? %>
	Não há registo
<% else %>
	<%= @patient.ocupacao %>
<% end %>
<legend>Atestado de Insuficiência Económica</legend>
<table class="table">
	<thead>
		<tr>
			<th>Atestado?</th>
			<th>Verificação RNU</th>
			<th>Data de validade</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @patient.finances.each do |finance| %>
			<tr>
				<td>
					<% if finance.insuficiencia_economica %>
						<b>Sim</b>
					<% else %>
						Não
					<% end %>
				</td>
				<td><%= finance.data_consulta_rnu %></td>
				<td><%= finance.data_validade %></td>
				<td><%= link_to "Eliminar", [finance.patient, finance], method: :delete, data: { confirm: 'Esta acção é irreversível. Pretende continuar?' }, class: 'btn btn-danger' %></td>
			</tr>
	<% end %>
</table>