<% provide(:title, "Subsistemas") %>

<h1>Subsistemas</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "Novo subsistema", new_subsystem_path, class: 'btn btn-info' %>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @subsystems.each do |subsystem| %>
					<tr>
						<td><%= link_to subsystem.nome, edit_subsystem_path(subsystem) %></td>
						<td><%= link_to "Eliminar", subsystem, method: :delete, data: { confirm: "Tem a certeza?" }, class: 'btn btn-danger' %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>