<% provide(:title, "Utilizadores") %>

<h1>Utilizadores</h1>
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<%= link_to "Novo utilizador", signup_path, class: 'btn btn-success' %>
		<table class="table">
			<thead>
				<tr>
					<td>Nome</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
					<tr>
						<td><%= link_to user.nome, edit_user_path(user), class: 'btn btn-link' %></td>
						<td><%= link_to "Eliminar", user, method: :delete, data: { confirm: 'A eliminação é irreversível. Pretende continuar?' }, class: 'btn btn-danger'  %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>