<!-- Nav tabs -->
<ul class="nav nav-tabs">
	<li><a href="#home" data-toggle="tab">Centro de Saúde</a></li>
	<li><a href="#profile" data-toggle="tab">Unidade Hospitalar</a></li>
	<li><a href="#messages" data-toggle="tab">Outro</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="home">
		<select class="form-control">
			<option>CS Sé</option>
			<option>CS Sta Maria</option>
			<option>CS Mirandela</option>
			<option>CS Vinhais</option>
			<option>CS Mogadouro</option>
		</select>
	</div>
	<div class="tab-pane" id="profile">
		<select class="form-control">
			<option>UH Bragança</option>
			<option>UH Macedo de Cavaleuros</option>
			<option>UH Mirandela</option>
		</select>
	</div>
	<div class="tab-pane" id="messages">
		<select class="form-control">
			<option>Tribunal</option>
			<option>SS</option>
			<option>Próprio</option>
		</select>
		<input type="text" id="outro">
	</div>
</div>