<% provide(:title, "Fontes de rendimento") %>

<h1>Fontes de rendimento</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "Nova fonte de rendimento", new_pension_path, class: 'btn btn-success' %>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th></th>
				</tr>
			</thead>
				<% @pensions.each do |pension| %>
					<tr>
						<td><%= link_to pension.nome, edit_pension_path(pension) %></td>
						<td><%= link_to "Eliminar", pension, method: :delete, data: { confirm: "A acção é irreversível. Deseja prosseguir?" }, class: 'btn btn-danger' %></td>
					</tr>
				<% end %>
			<tbody>
			</tbody>
		</table>
	</div>
</div>