<% provide(:title, "Editar #{@patient.nome}") %>

<h1>Editar <%= @patient.nome %></h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= render 'form' %>
	</div>
</div>

<script>
	function goBack() {
		window.history.back()
	}
</script>