<% provide(:title, "Unidades") %>

<h1>Unidades</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to "Nova unidade", new_unit_path, class: 'btn btn-info' %>
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th></th>
				</tr>
			</thead>
				<% @units.each do |unit| %>
					<tr>
						<td><%= link_to unit.nome, edit_unit_path(unit) %></td>
						<td><%= link_to "Eliminar", unit, method: :delete, data: { confirm: "A acção é irreversível. Deseja prosseguir?" }, class: 'btn btn-danger' %></td>
					</tr>
				<% end %>
			<tbody>
			</tbody>
		</table>
	</div>
</div>